.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 20px;
}

.footer-alert {
  display: flex;
  background-color: var(--color-danger);
  border-radius: 12px;
  padding: 12px;
  justify-content: space-between;
  align-items: center;
  width: 627px;
}
