.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

/* Media Queries para Mobile */
@media (max-width: 768px) {
  .header-logo {
    margin-top: 16px;
  }
}
